.black-hole-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Behind everything */
  pointer-events: none;
  background-color: #050505; /* Deep space black */
}
